@charset "utf-8";
/* CSS Document */

#conteudos{  /* Div mãe, onde estão os conteudos */
	margin-top:4.5%;
	margin-left:2.5%;
	width:60%;
	height:40%;
	float:left;
}

#conteudos2{
	margin-top:4.5%;
	margin-left:2.5%;
	width:30%;
	height:40%;
	border:1px solid #fff;
	float:left;
}

.ib-csontainer{ /* onde estão os conteudos*/
	margin:auto;
	position: relative;
	width: 100%;
	display: block;
}
.ib-container:before,
.ib-container:after {
    content:"";
    display:table;
}
.ib-container:after {
    clear:both;
}
.ib-container article{ /* editar o conteudo (ira aplicar em todos)*/
	border-radius:6px;
	border: 3px solid #ebe6e2;
	width:45%;
	height:99px;
	background:url(../imagens/fundo_frame.png) repeat-x;
	float: left;
	
	/* border: 10px solid #CCC;  aqui é a borda de cada conteudo CINZA*/
	
	text-align: center;
	text-transform: none;
	margin: 15px;
	z-index: 1;
	-webkit-backface-visibility: hidden;  /* efeito dado quando o moude não esta sobre a imagem*/
	box-shadow: 0px 1px 10px #000;	
	-webkit-transition: 
		opacity 0.4s linear, 
		-webkit-transform 0.4s ease-in-out, 
		box-shadow 0.4s ease-in-out;
	-moz-transition: 
		opacity 0.4s linear, 
		-moz-transform 0.4s ease-in-out, 
		box-shadow 0.4s ease-in-out;
	-o-transition: 
		opacity 0.4s linear, 
		-o-transform 0.4s ease-in-out, 
		box-shadow 0.4s ease-in-out;
	-ms-transition: 
		opacity 0.4s linear, 
		-ms-transform 0.4s ease-in-out, 
		box-shadow 0.4s ease-in-out;
	transition: 
		opacity 0.4s linear, 
		transform 0.4s ease-in-out, 
		box-shadow 0.4s ease-in-out;

}
.ib-container h3 a{
	position:relative;
	top:6px;
	text-decoration:none;
	font-family:"Arial Black", Gadget, sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #000;
	text-shadow: 1px 1px 10px #999;
	opacity: 0.8;
}

.ib-container h3 a {/* aqui são os efeitos para todo o texto dentro de conteudo */
	-webkit-transition: 
		opacity 0.2s linear, 
		text-shadow 0.5s ease-in-out, 
		color 0.5s ease-in-out;
	-moz-transition: 
		opacity 0.2s linear, 
		text-shadow 0.5s ease-in-out, 
		color 0.5s ease-in-out;
	-o-transition: 
		opacity 0.2s linear, 
		text-shadow 0.5s ease-in-out, 
		color 0.5s ease-in-out;
	-ms-transition: 
		opacity 0.2s linear, 
		text-shadow 0.5s ease-in-out, 
		color 0.5s ease-in-out;
	transition: 
		opacity 0.2s linear, 
		text-shadow 0.5s ease-in-out, 
		color 0.5s ease-in-out;
}
/* Aqui é o que vai acontecer com todos os outros conteudos, enquanto um estiver selecionado, to com fomee */
.ib-container article.blur{ 
	box-shadow: 1px 1px 10px #000;
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-o-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
	opacity: 0.7;
}
.ib-container article.blur h3 a{
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
	color: rgba(0, 0, 0, 0);
	opacity: 0.5;
}

/* Ativado quando o mouse esta sobre o conteudo */
.ib-container article.active{
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
	
	box-shadow: 1px 6px 30px  #FF9900;
		
	opacity: 1;
}
.ib-container article.active h3 a{
	opacity; 1;
}

#velocimetro {
	margin-top:0px;
	padding-top:0px;
	position:relative;
	top:-17px;
	left:10px;
	float:left;
}

#boleto {
	margin-top:0px;
	padding-top:0px;
	position:relative;
	top:-18px;
	left:10px;
	float:left;
}

#promocoes {
	position:relative;
	top:-18px;
	left:15px;
	float:left;
}

#internet {
	position:relative;
	top:-18px;
	left:5px;
	float:left;
}