@charset "utf-8";
/* CSS Document */

#fundo_rodape {
	margin:0;
}

#conteudo_rodape {
	margin:0 auto;
	background-image:url(../imagens/background_rodape.png);
	
	width:100%;
	max-width:1440px;
	
	height:100%;
	max-height:220px;
	min-height:220px;
}

#links_principal {
	margin-top:20px;
	margin-left:100px;
	width:15%;
	float:left;
}

#links_principal ul {
	list-style-type:none;
	text-decoration:none;	
	line-height:20px;
	padding-left:0px;
}

.titulo{
	color:#FFF;
	border-bottom:1px #FFFFFF dotted;
	list-style-type:none;
	text-shadow:0 2px 2px #000000;
}
	
.links_rodape {
	margin-top:20px;
	margin-left:10px;
	padding-right:0px;
	width:13%;
	float:left;
}

ul {
	list-style-type:none;	
	line-height:20px;
	padding-left:0px;
	padding-right:0px;
}

li a {
	font-size:12px;
	color:#333;
	text-decoration:none;
	list-style-type:none;
}

li a:hover {
	color:#FFF;
	text-decoration:none;
}

.fb-like-box{
	background:#FFF;
	box-shadow: 3px 3px 3px #000;
	margin-top:10px;
	margin-left:90px;
}