@charset "utf-8";
/* CSS Document */

body {
	margin:0;
	font-family:Verdana, Geneva, sans-serif;
	font-size:1em;
	color:#000;
}

a img, img {
	max-width:100%;
	height: auto;
}

#tudo {
	margin:auto;
	width:100%;
	height:220px;
}

#bg	{
	margin:0 auto;
	background-image:url(../imagens/background_home.png);
	
	width:100%;
	max-width:1440px;
	
	height:100%;
	max-height:220px;
	min-height:220px;
}

#logo{
	width:28%;
	height:144px;
	
	margin-top:2%;
	margin-left:3%;
		
	float:left;
}

#menu{
	width:45%;
	height:auto;
	margin-left:1%;
	margin-top:2%;
	float:left;
}

#busca{
	-moz-border-radius: 2px; /* Para Firefox */
	-webkit-border-radius: 2px; /*Para Safari e Chrome */
	border-radius: 2px; /* Para Opera 10.5+*/ 
	
	box-shadow: 1px 1px 15px #000;	
	
	background-image:url(../imagens/opacidade.png);
	max-width:350px;
	width:19%;
	height:60%;
	margin-top:4%;
	margin-left:1.5%;
	float:left;
	font-size:12px;
}

#primeira_linha {
	font-size:10px;
	line-height:0px;
	color:#fff;
	margin-left:4%;
	margin-top:7%;
}

#formulario {
	margin-left:3%;
	margin-top:3%;	
}

#login {
	width:70%;
	margin-left:2.5%;
	height:auto;	
}

#label_login {
	font-size:9px;
	color:#fff;	
}

#senha {
	width:70%;
	height:auto;
}

#label_senha {
	font-size:9px;
	color:#fff;	
}

#logar {
	margin-top:2%;
	margin-left:70%;
	font-size:10px;
	height:20px;	
}